
        .verticalLine {
    border-left: thick solid #ff0000;
}
        .bg {
            background-image:url("../img/brown.jpg")
        }
        .border {

    border: 2px solid #a1a1a1;
    /*padding: 10px 80px;*/
     padding-top: 20px;
    padding-right: 600px;
    padding-bottom: 300px;
    padding-left:100px;
    margin-left: 100px;
    background: #dddddd;
    width: 291px;
    border-radius: 25px;
            height: 7px;
        }
     
    